<section class="advantages container">
  <div>
    <h2 class="visually-hidden">advantages</h2>
    <ol>
      <li>Swimming and water sports: try your hand at water skiing</li>
      <li>Fishing: try to catch your own dinner</li>
      <li>
        Sightseeing tours: take a shore or island tour, enjoy the views and
        sunsets from the water
      </li>
      <li>
        Rest and relaxation: read a book or listen to music while enjoying the
        outdoor atmosphere.
      </li>
    </ol>
  </div>
  <img src="" alt="" />
</section>

<!-- через біфор + картинки зроб -->
