<section class="our-yachts" id="our-yachts">
  <div class="container">
    <h2 class="our-yachts-title">
      Choose your dream yacht and sail away into the sunset
    </h2>
    <ul class="our-yachts-cards">
      <li class="our-yachts-item">
        <picture>
          <source
            srcset="
              /img/our-yachts/yaht-arrow-d1440-1x.webp 1x,
              /img/our-yachts/yaht-arrow-d1440-2x.webp 2x
            "
            media="(min-width:1440px)"
          />
          <source
            srcset="
              /img/our-yachts/yaht-arrow-d1280-1x.webp 1x,
              /img/our-yachts/yaht-arrow-d1280-2x.webp 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              /img/our-yachts/yaht-arrow-tab-1x.webp 1x,
              /img/our-yachts/yaht-arrow-tab-2x.webp 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              /img/our-yachts/yaht-arrow-mob-1x.webp 1x,
              /img/our-yachts/yaht-arrow-mob-2x.webp 2x
            "
            media="(max-width:767px)"
          />
          <img
            src="/img/our-yachts/yaht-arrow-d1440-1x.jpg"
            alt="Arrow"
            width="360"
            height="268"
            class="our-yachts-item-img"
          />
        </picture>
        <div class="our-yachts-item-title-wrap">
          <p class="our-yachts-item-title">Arrow</p>
          <p class="our-yachts-item-text">LUXURY YAHTS</p>
        </div>
        <div class="our-yachts-lists">
          <ul class="our-yachts-list">
            <li class="our-yachts-features-item">
              <p class="our-yachts-features-item-text">LENGTH</p>
            </li>
            <li class="our-yachts-features-item">
              <p class="our-yachts-features-item-text">BUILDER</p>
            </li>
            <li class="our-yachts-features-item">
              <p class="our-yachts-features-item-text">BUILT</p>
            </li>
            <li class="our-yachts-features-item">
              <p class="our-yachts-features-item-text">GUESTS</p>
            </li>
            <li class="our-yachts-features-item">
              <p class="our-yachts-features-item-text">PRICE</p>
            </li>
          </ul>
          <ul class="our-yachts-list">
            <li class="our-yachts-content-item">
              <p class="our-yachts-content-item-text">48m(155ft)</p>
            </li>
            <li class="our-yachts-content-item">
              <p class="our-yachts-content-item-text">Admiral</p>
            </li>
            <li class="our-yachts-content-item">
              <p class="our-yachts-content-item-text">2021</p>
            </li>
            <li class="our-yachts-content-item">
              <p class="our-yachts-content-item-text">11 in 5 cabins</p>
            </li>
            <li class="our-yachts-content-item">
              <p class="our-yachts-content-item-text">€33,500,000</p>
            </li>
          </ul>
        </div>
      </li>
      <li class="our-yachts-item">
        <picture>
          <source
            srcset="
              /img/our-yachts/yaht-benetti-d1440-1x.webp 1x,
              /img/our-yachts/yaht-benetti-d1440-2x.webp 2x
            "
            media="(min-width:1440px)"
          />
          <source
            srcset="
              /img/our-yachts/yaht-benetti-d1280-1x.webp 1x,
              /img/our-yachts/yaht-benetti-d1280-2x.webp 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              /img/our-yachts/yaht-benetti-tab-1x.webp 1x,
              /img/our-yachts/yaht-benetti-tab-2x.webp 2x
            "
            media="(min-width:768px)"
          />
          <img
            src="/img/our-yachts/yaht-benetti-d1440-1x.jpg"
            alt="Benetti"
            width="360"
            height="268"
            class="our-yachts-item-img"
          />
        </picture>
        <div class="our-yachts-item-title-wrap">
          <p class="our-yachts-item-title">BENETTI OASIS 40</p>
          <p class="our-yachts-item-text">LUXURY YAHTS</p>
        </div>
        <div class="our-yachts-lists">
          <ul class="our-yachts-list">
            <li class="our-yachts-features-item">
              <p class="our-yachts-features-item-text">LENGTH</p>
            </li>
            <li class="our-yachts-features-item">
              <p class="our-yachts-features-item-text">BUILDER</p>
            </li>
            <li class="our-yachts-features-item">
              <p class="our-yachts-features-item-text">BUILT</p>
            </li>
            <li class="our-yachts-features-item">
              <p class="our-yachts-features-item-text">GUESTS</p>
            </li>
            <li class="our-yachts-features-item">
              <p class="our-yachts-features-item-text">PRICE</p>
            </li>
          </ul>
          <ul class="our-yachts-list">
            <li class="our-yachts-content-item">
              <p class="our-yachts-content-item-text">41m (133ft)</p>
            </li>
            <li class="our-yachts-content-item">
              <p class="our-yachts-content-item-text">Benetti</p>
            </li>
            <li class="our-yachts-content-item">
              <p class="our-yachts-content-item-text">2025</p>
            </li>
            <li class="our-yachts-content-item">
              <p class="our-yachts-content-item-text">10 in 5 cabins</p>
            </li>
            <li class="our-yachts-content-item">
              <p class="our-yachts-content-item-text">€23,210,000</p>
            </li>
          </ul>
        </div>
      </li>
      <li class="our-yachts-item">
        <picture>
          <source
            srcset="
              /img/our-yachts/yaht-anna-d1440-1x.webp 1x,
              /img/our-yachts/yaht-anna-d1440-2x.webp 2x
            "
            media="(min-width:1440px)"
          />
          <source
            srcset="
              /img/our-yachts/yaht-anna-d1280-1x.webp 1x,
              /img/our-yachts/yaht-anna-d1280-2x.webp 2x
            "
            media="(min-width:1280px)"
          />
          <img
            src="/img/our-yachts/yaht-anna-d1440-1x.jpg"
            alt="Belle Anna"
            width="360"
            height="268"
            class="our-yachts-item-img"
          />
        </picture>
        <div class="our-yachts-item-title-wrap">
          <p class="our-yachts-item-title">BELLE ANNA</p>
          <p class="our-yachts-item-text">LUXURY YAHTS</p>
        </div>
        <div class="our-yachts-lists">
          <ul class="our-yachts-list">
            <li class="our-yachts-features-item">
              <p class="our-yachts-features-item-text">LENGTH</p>
            </li>
            <li class="our-yachts-features-item">
              <p class="our-yachts-features-item-text">BUILDER</p>
            </li>
            <li class="our-yachts-features-item">
              <p class="our-yachts-features-item-text">BUILT</p>
            </li>
            <li class="our-yachts-features-item">
              <p class="our-yachts-features-item-text">GUESTS</p>
            </li>
            <li class="our-yachts-features-item">
              <p class="our-yachts-features-item-text">PRICE</p>
            </li>
          </ul>
          <ul class="our-yachts-list">
            <li class="our-yachts-content-item">
              <p class="our-yachts-content-item-text">50m(155ft)</p>
            </li>
            <li class="our-yachts-content-item">
              <p class="our-yachts-content-item-text">ISA</p>
            </li>
            <li class="our-yachts-content-item">
              <p class="our-yachts-content-item-text">2012</p>
            </li>
            <li class="our-yachts-content-item">
              <p class="our-yachts-content-item-text">12 in 6 cabins</p>
            </li>
            <li class="our-yachts-content-item">
              <p class="our-yachts-content-item-text">€21,000,000</p>
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <a href="#rent-yacht" class="our-yachts-btn">Yacht rental</a>
  </div>
</section>
