<section class="our-yachts" id="our-yachts">
  <div class="container">
    <h2 class="our-yachts-title">
      Choose your dream yacht and sail away into the sunset
    </h2>
    <div class="our-yachts-card our-yachts-item">
      <img
        srcset="
          /img/our-yachts/yaht-arrow-mob-1x.jpg 1x,
          /img/our-yachts/yaht-arrow-mob-2x.jpg 2x
        "
        src="/img/our-yachts/yaht-arrow-mob-1x.jpg"
        alt="Arrow"
        width="302"
        height="240"
        class="our-yachts-item-img"
      />
      <div class="our-yachts-item-title-wrap">
        <p class="our-yachts-item-title">Arrow</p>
        <p class="our-yachts-item-text">LUXURY YAHTS</p>
      </div>
      <div class="our-yachts-lists">
        <ul class="our-yachts-list">
          <li class="our-yachts-features-item">
            <p class="our-yachts-features-item-text">LENGTH</p>
          </li>
          <li class="our-yachts-features-item">
            <p class="our-yachts-features-item-text">BUILDER</p>
          </li>
          <li class="our-yachts-features-item">
            <p class="our-yachts-features-item-text">BUILT</p>
          </li>
          <li class="our-yachts-features-item">
            <p class="our-yachts-features-item-text">GUESTS</p>
          </li>
          <li class="our-yachts-features-item">
            <p class="our-yachts-features-item-text">PRICE</p>
          </li>
        </ul>
        <ul class="our-yachts-list">
          <li class="our-yachts-content-item">
            <p class="our-yachts-content-item-text">48m(155ft)</p>
          </li>
          <li class="our-yachts-content-item">
            <p class="our-yachts-content-item-text">Admiral</p>
          </li>
          <li class="our-yachts-content-item">
            <p class="our-yachts-content-item-text">2021</p>
          </li>
          <li class="our-yachts-content-item">
            <p class="our-yachts-content-item-text">11 in 5 cabins</p>
          </li>
          <li class="our-yachts-content-item">
            <p class="our-yachts-content-item-text">€33,500,000</p>
          </li>
        </ul>
      </div>
    </div>
    <button class="our-yachts-btn" type="button">Yacht rental</button>
  </div>
</section>
