<section id="rent-yacht" class="rent-yacht">
  <div class="rent-yacht-wrap container">
    <div class="rent-form-wrap">
      <h2 class="rent-title">Rent a yacht now</h2>
      <form class="rent-form">
        <label class="rent-field-input"><input type="text" name="user-name" class="rent-input" placeholder="Full Name"
            pattern="[A-Za-z ]+" required /></label>
        <label class="rent-field-input"><input type="email" name="user-email" class="rent-input" placeholder="Email"
            pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" required /></label>
        <label class="rent-field-input"><input type="tel" name="user-tel" class="rent-input" placeholder="Phone number"
            pattern="^[+0-9\-() ]+$" required /></label>
        <label class="rent-field-text"><textarea name="user-comment" class="rent-text"
            placeholder="Comment"></textarea></label>
        <button type="submit" class="form-send-btn">Send</button>
      </form>
    </div>
    <div class="rent-photo-wrap">
      <picture>
        <source srcset="/img/rent-yacht/rent-yacht-mob.jpg 1x, /img/rent-yacht/rent-yacht-mob-2x.jpg 2x"
          media="(max-width: 767px)" />
        <source srcset="/img/rent-yacht/rent-yacht-tab.jpg 1x, /img/rent-yacht/rent-yacht-tab-2x.jpg 2x"
          media="(min-width: 768px)" />
        <source srcset="/img/rent-yacht/rent-yacht-deskt.jpg 1x, /img/rent-yacht/rent-yacht-deskt-2x.jpg 2x"
          media="(min-width: 1280px)" />
        <source srcset="/img/rent-yacht/rent-yacht-deskt-1440.jpg 1x, /img/rent-yacht/rent-yacht-deskt-1440-2x.jpg 2x"
          media="(min-width: 1440px)" />
        <img class="rent-yacht-photo" src="/img/rent-yacht/rent-yacht-deskt-1440.jpg" alt="Rent-yacht" width="768"
          height="536">
      </picture>
    </div>
  </div>
</section>