.about-us {
}
.about-us-content {
}

.about-us-descr-wrap {
  padding: 40px 20px;
  width: 100%;
  border-radius: 24px;
  height: 675px;
  background: #fbfbfb;
  width: 100%;
}
.about-us-description {
  margin-top: 40px;
}
.about-us-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #1b414b;
}
.about-us-subtitle {
  margin-bottom: 20px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #1b414b;
}
.about-us-text {
  display: block;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #040306;
  opacity: 0.4;
}
.about-us-picture-wrap {
  padding-bottom: 80px;
  /* width: 100%; */
}
.about-us-picture {
  margin-top: -295px;
  display: block;
}
.about-us-img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .about-us-content {
  }
  .about-us-descr-wrap {
    padding: 50px 136px 50px 32px;
  }
  .about-us-description {
    margin-top: 50px;
  }
  .about-us-title {
    font-size: 48px;
  }
  .about-us-subtitle {
    font-size: 23px;
  }
  .about-us-text {
    font-size: 13px;
    line-height: 1.15;
  }
  .about-us-picture {
    padding-bottom: 70px;
    margin-top: -194px;
  }
}

@media screen and (min-width: 1280px) {
  .about-us-descr-wrap {
    padding: 50px;
    display: flex;
    gap: 189px;
  }
  .about-us-picture {
    margin-top: -315px;
  }
  .about-us-content {
  }
  .about-us-title {
  }
  .about-us-description {
    max-width: 354px;
    margin-top: 0;
  }

  .about-us-subtitle {
  }
  .about-us-text {
  }
}
