.footer {
  min-width: 100%;
  background-color: #0E1823;
  display: flex;
  justify-content: center;
  padding: 0 10px 0 10px;
  position: relative;
}

.footer-container {
  background-color: #1b414b;
  border: none;
  border-radius: 24px 24px 0 0;
  padding: 40px 30px 20px 30px;
  min-width: 355px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 0;
}

.div-logo-nav-soc-m-footer {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.div-logo-nav-footer {
  min-width: 295px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo-footer {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: -0.03em;
  color: #FBFBFB;
}

.nav-footer-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 4px;
}

.nav-footer-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-size: 9px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: -0.03em;
  color: #FBFBFB;
  text-transform: uppercase;
  border: none;
  border-radius: 8px;
  background-color: #56727a;
  width: 66px;
  height: 40px;
  transition: background-color 150ms ease-in-out 0ms, color 150ms ease-in-out 0ms;
}

.nav-footer-list-item:active {
  color: #1B414B;
  background-color: #FBFBFB;
}

.div-cos-m-footer-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.cos-m-footer-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 8px;
}

.cos-m-footer-list-icon {
  width: 24px;
  height: 24px;
  fill: #FBFBFB;
  transition: fill 150ms ease-in-out 0ms;
}

.cos-m-footer-list-icon:active {
  fill: #E1E1E1;
}

.footer-p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  max-width: 279px;
  margin-bottom: 80px;
}

.div-footer-privacy {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.p-yacht-adv {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.03em;
  color: #56727a;
}

.privacy-policy {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #56727a;
}



@media screen and (min-width: 768px) {
  .footer-container {
    padding: 50px 48px 20px 48px;
    min-width: 748px;
  }

  .div-logo-nav-soc-m-footer {
    display: flex;
    flex-direction: row;
    gap: 91px;
    margin-bottom: 96px;
  }

  .div-logo-nav-footer {
    min-width: 295px;
    display: flex;
    flex-direction: row;
    gap: 110px;
  }

  .logo-footer {
    font-size: 20px;
  }

  .nav-footer-list-item {
    width: 91px;
    height: 40px;
  }

  .div-cos-m-footer-list {
    margin-bottom: 0;
  }

  .footer-p {
    font-size: 32px;
    max-width: 640px;
    margin-bottom: 99px;
  }

  .p-yacht-adv {
    font-size: 14px;
  }
  
  .privacy-policy {
    font-size: 14px;
  }

  .div-footer-privacy {
    gap: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    padding: 0 25px 0 25px;
  }

  .footer-container {
    padding: 50px 75px 20px 75px;
    min-width: 1230px;
  }

  .div-logo-nav-soc-m-footer {
    display: flex;
    flex-direction: row;
    gap: 311px;
    margin-bottom: 96px;
  }

  .div-logo-nav-footer {
    min-width: 295px;
    display: flex;
    flex-direction: row;
    gap: 330px;
  }

  .nav-footer-list-item:hover {
    color: #1B414B;
    background-color: #FBFBFB;
  }

  .cos-m-footer-list-icon:hover {
    fill: #E1E1E1;
  }

  .footer-p {
    max-width: 693px;
  }
}

@media screen and (min-width: 1440px) {
  .footer-container {
    min-width: 1390px;
  }

  .div-logo-nav-soc-m-footer {
    gap: 388px;
  }

  .div-logo-nav-footer {
    gap: 409px;
  }
}