.mobile-menu.is-open {
  overflow: hidden;
}

.header {
  position: fixed;
  top: 20px;
  width: 100%;
}

.header-container {
  display: flex;
  background-color: #fbfbfb;
  border: 1px solid #fbfbfb;
  border-radius: 8px;
  padding: 0 20px;
  margin: 0;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-logo {
  display: block;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.03em;
  color: #1b414b;
  padding-top: 12px;
  padding-bottom: 12px;
}

.nav-list {
  display: flex;
  gap: 4px;
}

.nav-item {
  border-radius: 8px;
  max-width: 91px;
  height: 40px;
  background-color: rgba(27, 65, 75, 0.5);
  align-items: center;
  justify-content: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item:hover,
.nav-item:focus {
  background-color: #1b414b;
}

.nav-link {
  display: block;
  position: relative;

  font-size: 9px;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: center;

  padding: 15px 24px;
}

.header-socials {
  display: flex;
  gap: 8px;
}

.header-socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.header-socials-icon {
  fill: #1b414b;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-socials-icon:hover,
.header-socials-icon:focus {
  fill: #062730;
}

/* Mobile menu */
.menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 0;
  padding: 0;
}

.menu-btn-icon {
  stroke-width: 2.5px;
  stroke: #1b414b;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100vw;
  height: 100vh;
  padding: 16px 20px;
  padding-bottom: 0;

  background-color: #0e1823;
  transform: translateY(-100%);
  visibility: hidden;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  transform: translateY(0);
  visibility: visible;
}

.open-mob-menu {
  position: relative;
  border: 1px solid #fbfbfb;
  border-radius: 8px;
  max-width: 335px;
  height: 42px;
  background-color: #fbfbfb;
  padding: 0 20px;
}

.menu-btn-close {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  padding: 0;
  border: none;
  background-color: transparent;
  fill: #055545;

  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 4px;
  padding-top: 201px;
}

.mobile-menu-item {
  width: 100%;
  border-radius: 8px;
  max-width: 91px;
  height: 40px;
  background-color: rgba(27, 65, 75, 0.5);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-item:hover,
.mobile-menu-item:focus {
  background-color: #1b414b;
}

.mobile-menu-link {
  display: flex;
  justify-content: center;
  width: 91px;
  height: 40px;
  padding: 15px 0;
  border-radius: 8px;
  background-color: rgba(27, 65, 75, 0.5);
  color: #fbfbfb;
  font-size: 9px;
  line-height: 1.3;
  text-transform: uppercase;
}

.mobile-menu-link:hover,
.mobile-menu-link:focus {
  background-color: #1b414b;
}

.mob-menu-socials {
  align-items: center;
  justify-content: center;
  display: flex;
  column-gap: 8px;
  margin-top: auto;
  margin-bottom: 40px;
}

.mob-menu-socials-link {
  width: 24px;
  height: 24px;
  fill: #fbfbfb;
}
.mob-menu-socials-link:hover,
.mob-menu-socials-link:focus {
  fill: rgba(251, 251, 251, 0.8);
}

/* Mobile */
@media only screen and (max-width: 375px) {
  .header-container {
    max-width: 335px;
  }
}
@media only screen and (min-width: 375px) {
  .open-mob-menu {
    margin: 0 auto;
    min-width: 335px;
  }
}

@media only screen and (max-width: 767.98px) {
  .header-socials {
    display: none;
  }
  .nav-list {
    display: none;
  }
}

/* Tablet 768px */
@media only screen and (min-width: 768px) {
  .header {
    top: 32px;
  }
  .header-container {
    padding: 0 28px;
  }
  .header-logo {
    font-size: 20px;
  }
  .menu-btn {
    display: none;
  }
}

/* Desctop screen 1280px */
@media only screen and (min-width: 1280px) {
  .header-container {
    padding: 0 30px;
  }
}
/* Desctop 1440px */
