.rent-yacht {
}
.rent-title {
  text-align: left;
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  /* margin-top: 80px; */
  /* margin-bottom: 40px; */
}

.rent-input {
  width: 100%;
  height: 42px;
  border: 1px solid rgba(251, 251, 251, 0.2);
  background-color: transparent;
  outline: transparent;
  border-radius: 12px;
  margin-bottom: 18px;
  padding-left: 18px;
}

.rent-input::placeholder {
  font-size: 12px;
  line-height: 1.17;
  color: rgba(251, 251, 251, 0.4);
}

.rent-text {
  border-radius: 12px;
  border: 1px solid rgba(251, 251, 251, 0.2);
  width: 100%;
  height: 108px;
  background-color: transparent;
  outline: transparent;
  padding: 14px 18px;
  resize: none;
  margin-bottom: 40px;
}

.rent-text::placeholder {
  font-size: 12px;
  line-height: 1.17;
  color: rgba(251, 251, 251, 0.4);
}

.form-send-btn {
  cursor: pointer;
  border: none;
  border-radius: 15px;
  padding: 14px 44px;
  min-width: 122px;
  height: 46px;
  background-color: #1b414b;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  text-align: center;
  /* margin-top: 40px; */
  /* margin-bottom: 60px; */
}